<h1>Adding MySQL service to <%= @mysql_user.user.full_name %></h1>

<% form_for(@mysql_user, :url => { :controller => 'mysql_users', :action => 'create', :id => @mysql_user.id }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :max_databases %> (leave blank or set to -1 for unlimited)<br />
    <%= f.text_field :max_databases, :size => 15 %>
  </p>
  <p>
    <%= f.hidden_field :user_id %>
    <%= f.submit 'Add' %>
  </p>
<% end %>

