<h1>Listing mysql_databases</h1>

<table>
  <tr>
    <th>Mysql login</th>
    <th>Name</th>
  </tr>

<% @mysql_databases.each do |mysql_database| %>
  <tr>
    <td><%=h mysql_database.mysql_login_id %></td>
    <td><%=h mysql_database.name %></td>
    <td><%= link_to 'Show', mysql_database %></td>
    <td><%= link_to 'Edit', edit_mysql_database_path(mysql_database) %></td>
    <td><%= link_to 'Destroy', mysql_database, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New mysql_database', new_mysql_database_path %>